@charset "utf-8";
/* CSS Document */
body {
	padding:0; 
	margin:0;
	background: rgba(0, 0, 0, 0.03);
}
.container {
	background:#FFFFFF;
	margin:1% auto;
	padding:10px;
	min-height:590px;
	border:1px solid rgba(0, 0, 0, 0.125);
}
nav {
	border-radius:0.25rem;
	margin-bottom:10px;
}
#logo {
	display:inline-block;
	font-weight:bold;
	font-size:18px;
	margin:8px 0;
	padding:0;
}
#section {
	float:right;
	display:block;
	font-size:14px;
	margin:8px 0;
	color:#FFFFFF;
}
.list-group {
	font-size:14px;
	font-weight:400;
}
.list-group li a {
	display:block;
	color:#29ABE0;
	font-weight:bold;
	text-decoration:none!important;
}
#module-left {
	float:left;
	width:25%;
	margin-right:1px;
	min-height:600px;	
}
#module-right {
	float:right;
	width:74%;
	min-height:600px;
	border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.jumbotron {
	padding:20px 30px;	
}
.clear {
    clear: both;
    width: 100%;
}
form {
	padding:20px 10px;
}
input[type="text"], input[type="password"] {
	width:82%;
	height:36px;
	margin-right:5px;
}
#f-domain input[name="domain"], 
#f-enable input[name="username"], 
#f-status input[name="username"] {
	float:left;
}
#f-create input[type="text"], 
#f-create input[type="password"], 
#f-create select,
#f-change input[type="text"],
#f-change input[type="password"],
#f-disable input[type="text"], 
#f-install input[type="text"], 
#f-install input[type="password"] {
	width:100%;
	margin-bottom:10px;
}
label {
	display:block;
	margin-bottom:8px;
	font-weight:bold;
}
.line {
	display:block;
	border-bottom:1px solid rgba(0, 0, 0, 0.125);
	margin-bottom:8px;
}
#error:empty {
	display:none;
}
#error {
	width:100%;
	font-size:13px;
	padding:10px;
	color:#FFFFFF;
	border-radius: 0.25rem;	
}
.success {
	background:#4caf50!important;
}
.danger {
	background:#e51c23!important;
}
#msg_install {
	font-size:12px;
	text-align:center;
	padding:5px;
}
#f-install dl {
    height: 1%;
    overflow: hidden;
    margin-bottom: 25px;
}
#f-install dl label {
	display:inline-block;
}
#f-install dl dt {
	display:inline-block;
    border-color: #CCCCCC;
    border-style: none solid none none;
    border-width: medium 1px medium medium;
    text-align: left;
    width: 60%;
	height:21px;
}
#f-install dl dd {
	display:inline-block;
	width:39%;
	padding-left:5px;
	margin-bottom:0;
}
#f-install dd .status {
	font-weight:bold;
}
